body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(235, 233, 233);
}
.outerContainer {
  border: 4px ridge rgb(49, 176, 230);
  width: 600px;
  height: 320px;
}
.previous,
.next {
  width: 4rem;
  height: 4rem;
  fill: #f54e0e;
  cursor: pointer;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.previous {
  position: absolute;
  top: 45%;
  left: 0%;
}
.next {
  position: absolute;
  right: 0;
  top: 45%;
}
.innerContainer {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}

/* animations */
.previous:hover,
.next:hover {
  transform: scale(1.1);
}
.previous:active,
.next:active {
  fill: #e9ae96;
}
